


html{
    
    background-color: black;
    background-image: url(https://github.com/iaac-macad/bimsc24-bootcamp-s2-demo/blob/main/cow.jpg?raw=true);
    color: red;
}

body{

    margin:0;
    
}

div{

    box-sizing: border-box;
}

#navbar{

    height: 50px;

}

#flex{

    display: flex;
    height: calc(100vh - 50px);

}

#Sidebar{
    width: 30%;
}

#Main{
    width:70%;

}
    .container{

        border-style: dotted;
        border-color: white;
        border-width: 1px;
    }